<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close('cancel')">Cancelar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Filtros</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close('aply')">Aplicar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Pais</ion-label>
      <ion-select [(ngModel)]="pais" cancelText="Cancelar" okText="Ok">
        <ion-select-option *ngFor="let pais of paises" [value]="pais.value">{{ pais.nombre }}</ion-select-option>
    
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select [(ngModel)]="categoria" cancelText="Cancelar" okText="Ok">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.value">{{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
