<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Categorias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let categoria of categorias" (click)="selectCategoria(categoria.value)">
      <ion-label>{{ categoria.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
