ion-toolbar {
  --background: black;
  --color: white;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
}

ion-card-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonMore {
  text-transform: none;
}

ion-note {
  ion-label {
    font-size: 12px;
  }
}

.source {
  display: flex;
  justify-content: flex-start;
}

.date {
  display: flex;
  align-items: center;
}

ion-note {
  display: flex;
  align-items: center;
  margin-left: 10px;
  ion-icon {
    margin-right: 5px;
  }
}

span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  img {
    width: 50%;
  }

  ion-button {
    text-transform: none;
  }
}

.buttonScroll {
  margin-left: 10px;
  margin-right: 10px;
}